OPENAI_API_KEY=sk-key_here
MODEL=gpt-5.1-mini
PIPELINE_MODEL=gpt-5.1
TEMPERATURE=0.33
TOP_P=0.5
QUERY_MODE=False

### Unit Testing (Ignore if Not Interested)
QUESTION='What is the integral of e^3x?'
TEMP_START_VALUE=0.07
TEMP_RANGE=10
SAVE_DIR=src/unit_testing/unit_test_results
REPEAT=1
